<div class="is-divider" data-content="OR"></div>
<div class="columns">
    <div class="column">
        <a href="/auth/google" class="button is-fullwidth has-text-white" style="background-color: #DB4437">
            <span class="icon">
                <i class="fab fa-google"></i>
            </span>
        </a>
    </div>
    <div class="column">
        <a href="/auth/github" class="button is-fullwidth has-text-white" style="background-color: #333">
            <span class="icon">
                <i class="fab fa-github"></i>
            </span>
        </a>
    </div>
</div>