<form action="/quotes/like/{{id}}" method="post" style="margin-bottom: 0">
    <button class="button is-white has-text-danger">
        <span class="icon is-small">
            <i class="fas fa-heart"></i>
        </span>
        <span>
            {{likes}}
        </span>
    </button>
</form>