<button data-target="{{id}}" class="button is-white has-text-danger like-button">
    <span class="icon is-small">
        <i class="fas fa-heart"></i>
    </span>
    <span class="like-text">
        {{likes}}
    </span>
</button>