{{#if error}}
    <div class="message is-danger">
        <div class="message-body">
            <p>{{error}}</p>
        </div>
    </div>
{{/if}}

{{#if success_msg}}
    <div class="message is-success">
        <div class="message-body">
            <p>{{success_msg}}</p>
        </div>
    </div>
{{else if error_msg}}
    <div class="message is-danger">
        <div class="message-body">
            <p>{{error_msg}}</p>
        </div>
    </div>
{{/if}}