<nav class="navbar has-shadow is-spaced" role="navigation">
    <div class="container">
        <div class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item">
                    <a href="/">
                        <h1 class="title">Quotes</h1>
                    </a>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a data-target="modal-signup" class="button is-primary modal-button">
                            <strong>
                                Sign Up
                            </strong>
                        </a>
                        <a data-target="modal-login" class="button modal-button">
                            Log In
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>