<nav class="navbar has-shadow is-spaced" role="navigation">
    <div class="container">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    Public Quotes
                </a>
                <a href="/quotes/add" class="navbar-item">
                    Add Quote
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="/users/register" class="button is-primary">
                            <strong>
                                Sign Up
                            </strong>
                        </a>
                        <a href="/users/login" class="button">
                            Log In
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>