<nav class="navbar has-shadow is-spaced" role="navigation">
    <div class="container">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    {{#if (equals "/quotes/public" url)}}
                        <span class="has-text-weight-medium">
                            Public Quotes
                        </span>
                    {{else}}
                        Public Quotes
                    {{/if}}
                </a>
                {{#if user}}
                    <a href="/quotes/private" class="navbar-item">
                        {{#if (equals "/quotes/private" url)}}
                            <span class="has-text-weight-medium">
                                Your Quotes
                            </span>
                        {{else}}
                            Your Quotes
                        {{/if}}
                    </a>
                    <a href="/quotes/add" class="navbar-item">
                        {{#if (equals "/quotes/add" url)}}
                            <span class="has-text-weight-medium">
                                Add Quote
                            </span>
                        {{else}}
                            Add Quote
                        {{/if}}
                    </a>
                {{/if}}
            </div>

            <div class="navbar-end">

            </div>

            {{#if user}}
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="/users/logout" class="button">
                            Log Out
                        </a>
                        <form method="post" action="/users?_method=DELETE" style="margin-bottom: 0">
                            <input type="hidden" name="_method" value="DELETE">
                            <button href="/users" class="button is-outlined is-danger">
                                Delete Account
                            </but>
                        </form>
                    </div>
                </div>
            {{else}}
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="/users/register" class="button is-primary">
                            <strong>
                                Sign Up
                            </strong>
                        </a>
                        <a href="/users/login" class="button">
                            Log In
                        </a>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</nav>