<nav class="navbar" role="navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <h1 class="title">Quotes Handlebars</h1>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>Sign Up</strong>
                    </a>
                    <a class="button">
                        Log In
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>