<nav class="navbar has-shadow is-spaced" role="navigation">
    <div class="container">
        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    Public Quotes
                </a>
                {{#if user}}
                    <a href="/quotes/private" class="navbar-item">
                        Your Quotes
                    </a>
                    <a href="/quotes/add" class="navbar-item">
                        Add Quote
                    </a>
                {{/if}}
            </div>

            <div class="navbar-end">

            </div>

            {{#if user}}
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="/users/logout" class="button">
                            Log Out
                        </a>
                    </div>
                </div>
            {{else}}
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="/users/register" class="button is-primary">
                            <strong>
                                Sign Up
                            </strong>
                        </a>
                        <a href="/users/login" class="button">
                            Log In
                        </a>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</nav>