<div class="columns is-multiline">
    {{#each quotes}}
        <div class="column is-{{calcColumnSize quote}}">
            <div class="card">
                {{> _quote}}

                <footer class="card-footer">
                    <div class="card-footer-item">
                        {{> _likeButton}}
                    </div>
                    {{#if (equals user ../user.id)}}
                        <div class="card-footer-item">
                            <a href="/quotes/edit/{{id}}">
                                Edit
                            </a>
                        </div>
                    {{/if}}
                </footer>
            </div>
        </div>
    {{/each}}
</div>