<div class="section">
    <div class="container">
        <div class="columns">
            {{#each quotes}}
                <div class="column">
                    {{> _quote}}
                </div>
            {{/each}}
        </div>
    </div>
</div>


{{#if showLoginModal}}

    {{> _loginModal}}

{{else if showRegisterModal}}

    {{> _registerModal}}

{{/if}}

