<div class="section">
    <div class="container">
        <div class="columns">
            {{#each quotes}}
                <div class="column">
                    {{> _quote}}
                </div>
            {{/each}}
        </div>
    </div>
</div>

{{> _loginModal}}
{{> _signupModal}}