<h1 class="title has-text-centered">
    Add Quote
</h1>
<div class="columns is-centered">
    <div class="column is-4">
        {{> _messages}}

        <form action="/quotes/add" method="post">
            <div class="field">
                <input class="input" type="text" name="author" value="{{author}}" placeholder="Who said it?">
            </div>
            <div class="field">
                <textarea class="textarea" name="quote" placeholder="What did he said?">{{quote}}</textarea>
            </div>
            <div class="field">
                <button class="button is-primary is-fullwidth">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>