<div class="columns is-centered">
    <div class="column is-4">
        <h1 class="title has-text-centered">
            Add Quote
        </h1>
        <p class="subtitle has-text-centered">
            If you don't know who said it, left the author input empty.
        </p>

        <form action="/quotes/add" method="post">
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="visible">
                    Show on public quotes section
                </label>
            </div>
            <div class="field">
                <input class="input" type="text" name="author" value="{{author}}" placeholder="Who said it?">
            </div>
            <div class="field">
                <textarea class="textarea" maxlength="200" name="quote"
                          placeholder="What did he said?">{{quote}}</textarea>
            </div>
            <div class="field">
                <button class="button is-primary is-fullwidth">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>