<h1 class="title has-text-centered">
    Add Quote
</h1>
<div class="columns is-centered">
    <div class="column is-4">
        {{> _messages}}

        <form action="/quotes/add" method="post">
            <div class="field">
                <label class="label">
                    Author
                </label>
                <div class="control">
                    <input class="input" type="text" name="author" value="{{author}}">
                </div>
            </div>
            <div class="field">
                <label class="label">
                    Quote
                </label>
                <div class="control">
                    <textarea class="textarea" name="quote">{{quote}}</textarea>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary is-fullwidth">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>