{{#if quotes}}
    <div class="columns">
        {{#each quotes}}
            <div class="column">
                {{> _quote}}
            </div>
        {{/each}}
    </div>
{{else}}
    <p>
        You didn't add any quote yet. <a href="/quotes/add"> Do it here</a>
    </p>
{{/if}}
