{{#if quotes}}
    <div class="columns">
        {{#each quotes}}
            <div class="column">
                <div class="card">
                    {{> _quote}}

                    <footer class="card-footer">
                        <div class="card-footer-item">
                            <a href="/quotes/edit/{{id}}">Edit</a>
                        </div>
                        <div class="card-footer-item">
                            {{> _likeButton}}
                        </div>
                    </footer>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>
        You didn't add any quote yet. <a href="/quotes/add"> Do it here</a>
    </p>
{{/if}}
