{{#if quotes}}
    <div class="columns">
        {{#each quotes}}
            <div class="column card">
                {{> _quote}}

                <footer class="card-footer">
                    <p class="card-footer-item">
                        <a href="/quotes/edit/{{id}}">Edit</a>
                    </p>
                </footer>
            </div>
        {{/each}}
    </div>
{{else}}
    <p>
        You didn't add any quote yet. <a href="/quotes/add"> Do it here</a>
    </p>
{{/if}}
